
body {
  background:#ffffff ;
  color: #2F4F4F;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}


.content-section {
  background: #D3D3D3;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}
#Submit {
    margin-top: 20px;
    
}
#form {
    background: #D3D3D3;
    
}

